* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	width: 100%;
	padding: 30px;
	background-color: rgb(55, 82, 105);
	color: white;
	font-size: 30px;
}

main {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	padding: 0 20px;
}

.toc {
	margin: 30px 0;
}

.toc__label {
	display: inline-flex;
	color: #eeeeee;
	font-weight: bold;
	padding: 5px 20px;
	background-color: rgb(12, 137, 146);
}

.toc-content {
	padding: 20px;
	border: solid 4px rgb(12, 137, 146);
	background-color: rgb(247, 254, 255);
}

.toc-list {
	padding-left: 30px;
}

.toc-list a {
	color: rgb(12, 137, 146);
	font-weight: bold;
	text-decoration: none;
}

.toc-list a:hover {
	color: rgb(214, 148, 25);
	text-decoration: underline;
}

.toc-list li+li {
	margin-top: 25px;
}

.toc-list .toc-list li {
	margin-top: 10px;
}

.content h2 {
	display: flex;
	color: #fafafa;
	font-size: 24px;
	margin-top: 50px;
	margin-bottom: 15px;
	padding: 10px;
	background-color: rgb(55, 82, 105);
}

.content h3 {
	display: flex;
	gap: 5px;
	margin-top: 40px;
	margin-bottom: 15px;
	border-bottom: solid 2px rgb(55, 82, 105);
}

.content h3::before {
	content: "";
	width: 10px;
	background-color: rgb(55, 82, 105);
}

.content p {
	line-height: 2.5;
}

.content a {
	color: rgb(22, 135, 201);
}

.content pre {
	font-size: 1rem;
	padding: 5px 20px;
	white-space: pre-line;
	background-color: #eeeeee;
}

img {
	width: 100%;
	border: 1px solid black;
}

/* これより下headerで使ってるスタイルです */
.header-title {
	margin: 0;
}

.menu {
	display: flex;
}

.menu a {
	color: white;
	text-decoration: none;
	padding: 10px;
	margin: 0 10px;
}

.menu a.active {
	font-weight: bold;
}

.titleBr {
	display: none;
}

@media screen and (max-width:1024px) {
	.titleBr {
		display: block;
	}
	.menu {
		flex-direction: column;
	}
}